---
import menu from "../config/menu";
import { Icon } from "astro-icon/components";
const pathname = Astro.url.pathname;
---

<div class="justify-center mt-3 fixed bottom-3 flex w-full md:hidden">
	<div
		class="bg-white dark:bg-neutral-900 gap-5 flex justify-around border rounded-full p-3 border-neutral-400 dark:border-neutral-600 hover:border-neutral-900 hover:dark:border-white"
	>
		{
			menu.map((x) => (
				<a
					href={`#${x.path}`}
					class={
						pathname == x.path
							? `text-black dark:text-white flex items-center gap-1 group`
							: `text-neutral-500 hover:text-black dark:text-neutral-400 dark:hover:text-white flex items-center gap-1 group`
					}
				>
					<Icon name={x.icon} width={20} height={20} />
					<span class="">{x.title}</span>
				</a>
			))
		}
	</div>
</div>
